body {
  font-family: Arial, sans-serif;
}

.form-group {
  margin-bottom: 15px;
}

.error {
  color: red;
  font-size: 13px;
  min-height: 15px;
  margin-top: 5px;
}

.hidden {
  display: none;
}

#successMessage {
  color: green;
  font-size: 20px;
  font-weight: bold;
}
