input,
select {
  width: 150px;
  padding: 4px;
}

#searchInput {
  width: 200px;
}

#sortScoreBtn {
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.row-weak {
  background-color: yellow;
}
